
<!DOCTYPE html>
<html lang="en-US">
    <%= render 'layouts/head' %>
<body class="home blog" style="  " >		
        <div class="header_container">
            <div class="container_24">
                <div class="grid_24">
                    <div class="header ">
                        <div class="grid_20 alpha"> 
                            <div class="logo home ">
                                <a href=></a>
                            </div>   
                        </div> 
                    </div>   
                </div>
                <div class="clear"></div> 
            </div>
        </div> 
<div id="tf_bg" class="tf_bg">		
            <img  src="https://inkthemes.com/wptheme/wp-content/uploads/sites/194/2015/07/Slider1.jpg" alt="Slide Image 1"/>
            <img  src="https://inkthemes.com/wptheme/wp-content/uploads/sites/194/2015/07/Slider6.jpg" alt="Slide Image 2"/>
            <img  src="https://inkthemes.com/wptheme/wp-content/uploads/sites/194/2015/07/Slider2.jpg" alt="Slide Image 3"/>
            <img  src="https://inkthemes.com/wptheme/wp-content/uploads/sites/194/2015/07/Slider3.jpg" alt="Slide Image 4"/>
            <img  src="https://inkthemes.com/wptheme/wp-content/uploads/sites/194/2015/07/Slider4.jpg" alt="Slide Image 5"/>
            <img  src="https://inkthemes.com/wptheme/wp-content/uploads/sites/194/2015/07/Slider5.jpg" alt="Slide Image 6"/>
        <div class="tf_pattern"></div>
</div>
<div id="tf_loading" class="tf_loading"></div>
    <div class="container_24">
        <div class="grid_24">
            <div id="tf_content_wrapper" class="tf_content_wrapper">
                <div class="tf_content" id="content1" style="display:block;">
                                    <h1><a href="">Experience the ultimate night out.</a></h1> 
                <div class="clear"></div>
                    <p>No te quedes y disfruta de nuestros servicios!!</p>            </div>		
                <div class="tf_content" id="content2">
                    <h1><a href="">The Standard's Stairway to Heaven.</a></h1>
                <div class="clear"></div>
                    <p>Our club offers top-class facilities including spacious mirrored dance floor,and the latest music available.</p>                </div>
                <div class="tf_content" id="content3">
                    <h1><a href="">Unbeatable view of downtown and the River.</a></h1>
                <div class="clear"></div>
                    <p>introduce you to something new along the way the club has all of these options and more on tap.</p>                </div>
                <div class="tf_content" id="content4">
                    <h1><a href="">New York has re-booted nightlife once again.</a></h1>
                <div class="clear"></div>
                    <p>New York brings together travelers from around the globe to experience nightlife in " In the city that never sleeps"</p>                </div>
                <div class="tf_content" id="content5">
                    <h1><a href="">Dance the night away!</a></h1>
                <div class="clear"></div>
                    <p>Different Styles each Night..From Latin & Ballroom, Salsa, Rock & Roll and so on..</p>                </div>
                <div class="tf_content" id="content6">
                    <h1><a href="">One of the must-visit bars of the city</a></h1>
                <div class="clear"></div>
                    <p>Whether you like grape or grain, cocktails or beer, there’s a bar out ready to pour you something you’ll love.</p>                
                </div>
            </div>		
        </div>
    </div>
</div>
<div id="tf_next" class="tf_next direction_nav"></div>
<div id="tf_prev" class="tf_prev direction_nav"></div>
    <%= render 'layouts/menu_customers' %>
    <script type='text/javascript' src='https://inkthemes.com/wptheme/night-club-wordpress-theme/wp-includes/js/wp-embed.min.js?ver=4.5.3'></script>
</body>
</html>