                        <h1>M&oacute;dulo Administrativo</h1>
                        <p>¡Bienvenido! A la izquierda encontrar&aacute; las principales opciones de este m&oacute;dulo.</p>
                        <p>¿Alg&uacute;n problema o mejora en este m&oacute;dulo?, <a href="https://github.com/DESAR51A/Proyecto-Final/issues" target="_blank">reportelo aqu&iacute;.</a></p>
