<section id="dynamic_sidebar">
   <h2><a href="#"></a></h2>
   <div class="sidebar_container" id="content_1">
   <div class="menu_wrapper">
   <div id="MainNav">
      <div class="menu_wrapper">
         <div id="MainNav">
            <div id="menu" class="menu-menu-1-container">
               <ul id="menu-menu-1" class="ddsmoothmenu1">
                  <li id="menu-item-81" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-81"><%= link_to "Inicio", costumers_path %></li>
                  <li id="menu-item-82" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86"><a href="">Reservas</a></li>
                  <li id="menu-item-83" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86"><a href="">Pedidos</a></li>
                  <li id="menu-item-84" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-84"><%= link_to "Eventos", eventos_path %></li>
                  <li id="menu-item-85" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86"><%= link_to "Locales", locales_path %></li>
                  <li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83"><%= link_to "Contáctanos", contacto_path %></li>
               </ul>
            </div>
         </div>
      </div>
      <div class="sidebar">
         <div class="sidebar_widget">
            <div class="textwidget">__________________________________________</div>
         </div>
         <div class="sidebar_widget">
            <h3>Horario de Atencion</h3>
            <div class="textwidget">
               Martes a Viernes:-  18:00 a 1:00 <br />
               Sabados:- 18:00 a 4:00 <br />
               Domingos: - 18:00 a 1:00 
            </div>
         </div>
         <div class="sidebar_widget">
            <h3>Ubicaci&oacuten</h3>
            <div class="textwidget">Parque de La Amistas 894 San Borja - Lima</div>
         </div>
      </div>
   </div>
</section>