<!DOCTYPE html>
<html lang="en-US">
    <%= render 'layouts/head' %>
<body class="home blog" style="  " >		
        <div class="header_container">
            <div class="container_24">
                <div class="grid_24">
                    <div class="header ">
                        <div class="grid_20 alpha"> 
                            <div class="logo home ">
                                <a href=></a>
                            </div>   
                        </div> 
                    </div>   
                </div>
                <div class="clear"></div> 
            </div>
        </div> 
    <%= yield %>
    <%= render 'layouts/menu_customers' %>
    <script type='text/javascript' src='https://inkthemes.com/wptheme/night-club-wordpress-theme/wp-includes/js/wp-embed.min.js?ver=4.5.3'></script>
</body>
</html>